<!DOCTYPE html>
<html>
<head>
    <title>Activités et Localisations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section class="section">
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container">
            <h1 class="title">Activités et Localisations</h1>

            <h2 class="subtitle">Filtrer par Localisation</h2>
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select id="location-select">
                            <option value="">Toutes les localisations</option>
                            {% for location in locations %}
                                <option value="{{ location[0] }}">{{ location[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <h2 class="subtitle">Activités</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Localisation ID</th>
                        <th>Actions</th> <!-- New column for the actions -->
                    </tr>
                </thead>
                <tbody id="activities-table">
                    {% for activity in activities %}
                        {% if not activity[6] %}  <!-- Check if is_deleted is False (0) -->
                            <tr data-location="{{ activity[5] }}">
                                <td>{{ activity[0] }}</td>
                                <td>{{ activity[1] }}</td>
                                <td>{{ activity[2] }}</td>
                                <td>{{ activity[3] }}</td>
                                <td>{{ activity[4] }}</td>
                                <td>{{ activity[5] }}</td>
                                <td>
                                    <a href="/activity/edit/{{ activity[0] }}" class="has-text-primary">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a href="/activity/delete/{{ activity[0] }}" class="has-text-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <a href="/activity/add" class="button is-primary">Ajouter une activité</a>
            <a href="/send_email" class="button is-default">Envoyer par email</a>
            <a href="/send_sms" class="button is-default">Envoyer par SMS</a>
        </div>
    </section>

    <script>
        // Function to filter activities based on selected location
        function filterActivitiesByLocation() {
            const locationSelect = document.getElementById("location-select");
            const selectedLocation = locationSelect.value;
            const activitiesTable = document.getElementById("activities-table").getElementsByTagName("tr");
            
            for (const activityRow of activitiesTable) {
                const activityLocation = activityRow.getAttribute("data-location");

                // Show all rows when no location is selected
                if (selectedLocation === "") {
                    activityRow.style.display = "table-row";
                } else {
                    // Hide rows with different locations
                    if (activityLocation === selectedLocation) {
                        activityRow.style.display = "table-row";
                    } else {
                        activityRow.style.display = "none";
                    }
                }
            }
        }

        // Event listener to call filterActivitiesByLocation() on location select change
        document.getElementById("location-select").addEventListener("change", filterActivitiesByLocation);
    </script>
</body>
</html>
